@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Product? product = ViewData["Product"] as Product;
    ViewData["Title"] = "Scrape Display Page";
}

<div class="text-center">
    <h1 class="display-4">Hey your product,</h1>
    <p>@product?.Name</p>
    <p>@product?.Price</p>
    <p>@product?.ASIN</p>
    <img src="@product?.PictureUri"/>
</div>
